*{
    margin: 0;
    box-sizing: border-box;

}
.hero{
    background-color: rgb(245, 217, 181);
    padding: 250px 0;
    background: url(./jjr.jpg);
    
    background-position:center;
    background-size: cover;
    background-blend-mode: color;
    
    

}
.banner{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    

}
.banner h1{
font-size: 50px;
color: rgb(255, 244, 244);

}
.banner p{
font-size: 25px;
color: rgb(248, 238, 238);

}
.blog{
padding: 50px 0;
}
.contain{
max-width: 1400px;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
}
.coloum{
flex-basis: 33.33%;


padding: 50px;
}
.card{

padding: 190px 40px;

border-radius: 25px;

box-shadow: 5px -2px 10px rgb(31, 161, 187);
}
.card h2{
    color: rgb(1, 0, 0);
    font-size: 30px;

}
.card p{
    color: rgb(12, 2, 2);
    font-size: 20px;
    line-height: 1.4;
}
.card a{
    background: black;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: 500;
    transition-duration: 0.4s;
}

.card:hover a{
    color: black;
    background-color: white;
}
.card a:hover {
    color:white;
    background-color: transparent;
}
.card:hover{
    background-color: black;
}
.card:hover h2{
    color: white;
}
.card:hover p{
    color: white;
}
